ANSYS/WS5_Demag/
ANSYS/Documents/
ANSYS/Maxwell_Advanced_Motor_R18.0_M07_project_files/
ANSYS/O'Handley Practice/
ANSYS/PM Demagnetization/
ANSYS/Report/
ANSYS/WS5_Demag/
Books/
Demagnetization/
MATLAB/
Backup/
Project Journal/
Report/
EE361_2019MT1_Q1/